*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.header-title{
    display: flex;
    background-color:rgba(229, 84, 115, 0.10);
    
}
.header-div{
    padding: 150px 50px 50px 150px;
    align-items: center;
}
.header-text{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 0px;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.text-primary{
    color: white;
    padding: 15px 35px;
    border-radius: 6px;
    border: none;
    background: #E55473;
    gap: 10px;
}
.header-imag{
    padding: 50px 220px 0px 50px;
    width: 400px;
    height: 530px;
}

/*main section start*/


/*hot section start*/
.hot-section{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    background-color:rgba(229, 84, 115, 0.10);
  
 
}
.hot-div{
    padding:150px 150px 100px 250px;
    text-align: center;
}
.hot-title{
    color: #272727;
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 0px;
}
.privet{
    color: #E55473;
    padding-top: 0px;
}
.hot-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 350;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hot-imag{
    width: 200px;
    height: 300px;
    padding: 50px 350px 50px 30px;
}

/*hot section end*/

/*Instagram section start*/
.insta-div{
    text-align: center;
   
}
.insta-title{
    color: #272727;
    font-size: 20px;
    font-weight: 800;
    
}
.insta-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 400;
    padding-top: 15px;
    padding:20px 450px
}
.insta-img{
    display: flex;
    margin: 10px 245px;
   
}
.insta-img-section{
    margin-right: 20px;
    align-items: center;
   
}
.flower-section{
    width: 200px;
    height: 220px;
    display:cover;
}

/*instagram section end*/

.last-section{
    background-image: url('../image/Flower\ Asset/Rectangle 9.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 8px;
   width: 870px;
   height: 289px;
   margin:80px 245px 80px 245px;
   
}
.box-text-section{
    
}