*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.header-title{
    display: flex;
    background-color:rgba(229, 84, 115, 0.10);
    
}
.header-div{
    padding: 150px 50px 50px 150px;
    align-items: center;
}
.header-text{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 0px;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.text-primary{
    color: white;
    padding: 15px 35px;
    border-radius: 6px;
    border: none;
    background: #E55473;
    gap: 10px;
}
.header-imag{
    padding: 50px 220px 0px 50px;
    width: 400px;
    height: 530px;
}

/*main section start*/
.bonous-section-header{
    text-align: center;
}
.bonous-text{
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 100px;
}
.bonous-describtion{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px ;
    padding: 20px 470px;
}
.bonous-imag-section{
    display: flex;
    margin: 30px 200px;
    
}
.bonous-flowr{
   
  
    
}
.bonous-img{
    width: 70%;
    padding: 25px 50px;
   
}
.flower1{
    background-color: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 310px;
    margin-right: 20px;
    border-radius: 300px 300px 0px 0px;
    padding-top: 26px;
    
}
.flower2{
    background: rgba(5, 151, 160, 0.15);
    width: 300px;
    height: 295px;
    margin-right: 20px;
    border-radius: 300px 300px 0px 0px;
    align-items: center;
    padding-top: 40px;
}
.flower3{
    background: rgba(71, 125, 17, 0.15);
    width: 300px;
    height: 335px;
    margin-right: 20px;
    border-radius: 300px 300px 0px 0px;
    
  
}

.img-div-section{
    display: flex;
    margin: 10px 270px;
  
}
li{
    list-style: none;
   
   
}
.img-text1{
    color: #272727;
    margin-right: 160px;
    text-align: center;
    font-size: 18px;    
    font-weight: 700;
    line-height: 35px;
}
.img-text2{
    color: #272727;
    margin-right: 160px;
    text-align: center;
    font-size: 18px;    
    font-weight: 700;
    line-height: 35px;
}
.img-text3{
    
    text-align: center;
    font-size: 18px;
    font-weight:700 ;
    line-height:35px;
}
/*hot section start*/
.hot-section{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    background-color:rgba(229, 84, 115, 0.10);
  
 
}
.hot-div{
    padding:150px 150px 100px 250px;
    text-align: center;
}
.hot-title{
    color: #272727;
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 0px;
}
.privet{
    color: #E55473;
    padding-top: 0px;
}
.hot-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 350;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hot-imag{
    width: 200px;
    height: 300px;
    padding: 50px 350px 50px 30px;
}

/*hot section end*/

/*Instagram section start*/
.insta-div{
    text-align: center;
   
}
.insta-title{
    color: #272727;
    font-size: 20px;
    font-weight: 800;
    
}
.insta-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px ;
    padding: 20px 470px;
    
}
.insta-img{
    display: flex;
    margin: 10px 245px;
   
}
.insta-img-section{
    margin-right: 20px;
    align-items: center;
   
}
.flower-section{
    width: 200px;
    height: 220px;
    display:cover;
}

/*instagram section end*/

.last-section{
    background-image: url('../image/Flower\ Asset/Rectangle 9.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 8px;
   width: 870px;
   height: 289px;
   margin:80px 245px 80px 245px;
   
}
.box-section{
    text-align: center;
    padding-top: 50px;

}
.box-text{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;

}
.box-dexribtion{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 13px;
font-weight: 400;
}
.last-form{
    width: 350px;
   height: 15px;
  padding: 15px 35px;
    margin-top: 40px;
    border-radius: 5px;
    border: none;
}

/*footer section*/
.div-footer{
    background-color: black;
    text-align: center;
    width:100%;
    height: 280px;

}
.footer-text{
    color: white;
    text-align: center;
    padding-top:80px;
    font-size: 25px;
    font-weight: 800;

}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    padding: 8px 470px;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px; 
}
.footer-copy{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 10px;
    font-weight: 400;
}
